<!DOCTYPE html>
<html lang="en">
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>add Money</title>
</head>
<body>

<div th:if="${existAcc}!=null" align="center">

    <h1>Add Money</h1>
    <br>
    <span th:if="${convError != null}" class="error"><h3 th:text="${convError}"></h3></span>
    <form action="#" th:action="@{/user/addMoneySave}" method="post">
        <table border="0" cellpadding="10">


            <tr>
                <td>Sum</td>
                <td><input type="text" name="suma"></td>
                <td><span th:if="${sumError != null}" class="error"><h3 th:text="${sumError}">

                </h3></span>
                </td>

            </tr>
            <tr>
                <td>Month</td>
                <td><input type="text" name="month"></td>
                <td><span th:if="${monthError != null}" class="error"><h3 th:text="${monthError}">

                </h3></span>
                </td>
            </tr>


            <tr>
                <td>Account IBAN</td>

                <td>
                    <select class="form-control" name="account_id">
                        <option th:each="acc : ${list}"
                                th:value="${acc.id}"
                                th:text="${acc.IBAN} + '  :  ' + ${acc.currency?.name}">

                        </option>

                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Save
                    </button>

                </td>

            </tr>

        </table>
    </form>
</div>

<div th:if="${existAcc}==null" align="center" method="GET">
    <h1>Momentan nu aveti niciun cont </h1>
</div>

</body>
</html>