


.form {
    width: 20%;
    margin-left: 37%;
    margin-top: 7%;
    /* border: 5px solid black; green */
}

.table {
    margin-left: 22%;
    margin-top: 7%;
    width: 65%;
}
.cell1{

    width: 100%;
}

